<div class="section-slide">
  <h2>Products</h2>
  <p>Something</p>
  <div class="container">
    <swiper
      [cssMode]="true"
      [loop]="true"
      [navigation]="true"
      [pagination]="{clickable: true}"
    >
      <ng-template swiperSlide>
        <img src="./../../../../../../assets/image/html-css.png" alt="">
        <div>
          <h3 class="item-title">Html & css</h3>
          <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at enim itaque odit
            placeat qui reprehenderit sit veritatis vero. Accusamus architecto ducimus facilis id in ipsam obcaecati
            pariatur, quibusdam vel.</p>
          <a href="#">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../../../assets/image/js-basic.png" alt="">
        <div>
          <h3 class="item-title">Javascript</h3>
          <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at enim itaque odit
            placeat qui reprehenderit sit veritatis vero. Accusamus architecto ducimus facilis id in ipsam obcaecati
            pariatur, quibusdam vel.</p>
          <a href="#">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <img src="./../../../../../../assets/image/java-basic.png" alt="">
        <div>
          <h3 class="item-title">Java Core</h3>
          <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at enim itaque odit
            placeat qui reprehenderit sit veritatis vero. Accusamus architecto ducimus facilis id in ipsam obcaecati
            pariatur, quibusdam vel.</p>
          <a href="#">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
