<footer>
  <div class="footer-wrapper row">
    <div class="col-lg-5 about-us">
      <h3>About Us</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam a, quo
        voluptates ipsa aspernatur maxime natus aliquam vel. Impedit inventore
        neque, quasi molestias asperiores ut sequi id minima corrupti deserunt.
      </p>
      <div class="social-media">
        <a href="#" class="social-icon">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="#" class="social-icon">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" class="social-icon">
          <i class="fa fa-google"></i>
        </a>
        <a href="#" class="social-icon">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-5 quick-link">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Terms & Consitions</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
    <div class="col-lg-2 contact">
      <h3>Contact Info</h3>
      <ul>
        <li>
          <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
          <span>Viet Nam</span>
        </li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright &#169; 2021 All Right Reserved | Made By <span style="color: #ff9100">True Coder</span></p>
  </div>
</footer>
