<!-- <div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog">
    <div class="modal-content m-content--block">
      <form #formPage="ngForm">

        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">
            Login
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">
            Hủy bỏ
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
