<div class="service-section">
  <div class="title">
    <h2>Service</h2>
    <p></p>
  </div>

  <div class="service-card row">
    <div class="col-lg-3">
      <div class="service-item">
        <div class="icon"><img src="./assets/image/web-deveopment.png" alt=""></div>
        <div>
          <h4>Web development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dignissimos error et, ex
            explicabo facere fugiat impedit laborum, nam nobis numquam officiis omnis, placeat qui quos sed sequi velit?
          </p>
        </div>
        <a href="#">Contact us</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="service-item">
        <div class="icon"><img src="./assets/image/ui-ux-design.png" alt=""></div>
        <div>
          <h4>Ui/ux desing</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dignissimos error et, ex
            explicabo facere fugiat impedit laborum, nam nobis numquam officiis omnis, placeat qui quos sed sequi velit?
          </p>
        </div>
        <a href="#">Contact us</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class=" service-item">
        <div class="icon">
          <img src="./assets/image/web-design.png" alt="">
        </div>
        <div>
          <h4>Web design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dignissimos error et, ex
            explicabo facere fugiat impedit laborum, nam nobis numquam officiis omnis, placeat qui quos sed sequi velit?
          </p>
        </div>
        <a href="#">Contact us</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class=" service-item">
        <div class="icon"><img src="./assets/image/rocket.png" alt="" style="  transform: rotate(45deg);"></div>
        <div>
          <h4>Seo optimize</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dignissimos error et, ex
            explicabo facere fugiat impedit laborum, nam nobis numquam officiis omnis, placeat qui quos sed sequi velit?
          </p>
        </div>
        <a href="#">Contact us</a>
      </div>
    </div>
  </div>
</div>
