<div class="pricing-section">
  <div class="container">
    <div class="title">
      <h2>Pricing</h2>
      <h3>Hot deal to day!!!</h3>
    </div>
<!--    <div class="toggle">-->
<!--      <div class="switch-item">Pesonal</div>-->
<!--      <div class="switch-item">Business</div>-->
<!--    </div>-->
    <div class="pricing-card">
      <div class="plan-item plan-basic">
        <header>
          <h1>Basic</h1>
          <strong class="plan-price">
            <span class="currency">€</span>
            <span class="int">8</span>
            <span class="decimals">99</span>
          </strong>
        </header>
        <p class="plan-description">
          The basics for tiny &amp; personal projects.
        </p>
        <ul class="plan-features">
          <li class="active">
            Git deployment
          </li>
          <li>
            Priority Support
          </li>
          <li>
            99.9% uptime SLA
          </li>
        </ul>
        <a href="#" class="plan-sign-up">
          buy now
        </a>
      </div>
      <div class="plan-item plan-standard">
        <em class="plan-best-value">
          <div>
            <i class="fas fa-star"></i>
          </div>
        </em>
        <header>
          <h1>Standard</h1>
          <strong class="plan-price">
            <span class="currency">€</span>
            <span class="int">18</span>
            <span class="decimals">99</span>
          </strong>
        </header>

        <p class="plan-description">
          Advanced features &amp; priority support.
        </p>
        <ul class="plan-features">
          <li class="active">
            Git deployment
          </li>
          <li class="active">
            Priority Support
          </li>
          <li>
            99.9% uptime SLA
          </li>
        </ul>
        <a href="#" class="plan-sign-up">
          buy now
        </a>
      </div>
      <div class="plan-item plan-premium">
        <header>
          <h1>Premium</h1>
          <strong class="plan-price">
            <span class="currency">€</span>
            <span class="int">28</span>
            <span class="decimals">99</span>
          </strong>
        </header>
        <p class="plan-description">
          High-throughput &amp; high-reliability.
        </p>

        <ul class="plan-features">
          <li class="active">
            Git deployment
          </li>
          <li class="active">
            Priority Support
          </li>
          <li class="active">
            99.9% uptime SLA
          </li>
        </ul>
        <a href="#" class="plan-sign-up">
          buy now
        </a>
      </div>
    </div>
  </div>
</div>
